header {
	background-color: #86A662;
	margin-left: 280px;
	margin-right: 280px;
}

header h1 {
	text-align: center;
}

section {
	margin-left: 280px;
	margin-right: 280px;
}

div.caja {
	border: 1pt solid #cbccc1;
	margin: 5px;
	padding: 5px;
}

div#datos h2 {
	text-align: center;
}

span#fotoperfil img {
	width: 17%;
	float: left;
	padding-right: 10px;
}

span#fotoeducacion img {
	width: 29%;
	float: left;
	padding-right: 5px;
}

span#año p {
	font-style: italic;
}

div.habilidades {
	text-align: center;
}

div.habilidad {
	display: inline-flex;
	width: 160px;
	height: 50px;
	margin-right: 5px;
	border-radius: 2em;
	background-color: lightgrey;
}

div.circulo {
	width: 50px;
	height: 50px;
	border-radius: 2em;
	background-color: blue;
}

div.circulo p {
	color: white;
	text-align: center;
}

div.lenguaje p {
	margin-left: 18px
}